body {
    font-size: 15pt;
}

#canvas {
    width: 50vw;
    height: 50vh;
    border: 4px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    touch-action: none;
    cursor: none;
    user-select: none;
}

#cursorOutline {
    box-sizing: border-box;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 1px solid black;
    border-radius: 50%;
}